{% extends "AcmeAdminBundle::adminlayout.html.twig" %}


{% block content %}


        
<div class="panel-wrapper fixed">
					<div class="panel ">
					
						<div class="title">
							<h4>{{ pagetitle }}</h4>
							<div class="collapse">collapse</div>
						</div>
						
						<div class="content">
						
            <form  action="{{path('acme_admin_edituser', { 'id': id })}}" method="post" >	
  	
                {{ form_widget(form) }}	
                
            <div id ="form">  	
              <div><label class="required" for="form_password_confirm_password">&nbsp;</label>
                  <input type="submit"  class="form_button_dark" value="Update" name="Update">
              </div>
            </div>
             </form> 
              
  	</div>
					</div>
					
					<div class="shadow"></div>
				</div>
{% endblock %}