 
    {% for workitem in workitems %}
    
    <!-- SKOODIO PHOTO CARD------------------------------------------------------------------------------------------->            
            <div id="skoodio_card_holder">
            	<div id="skoodio_card">
                	<div id="card_front{{ workitem.id }}" class="front">
                    	<div id="image_holder">
                          <h1 class="card_thumb">{{ workitem.title|truncate(50) }}</h1>
                      </div>
                      <div id="card_icon" class="text"></div>
                      <div id="card_info">
                      	<p>{{ workitem.title|truncate(40) }}</p>
                      </div>
                		  
                  </div>
                  
                
                    
                </div>   
            </div>
<!-- ENDS SKOODIO PHOTO CARD-------------------------------------------------------------------------------------->

    {% endfor %}
        
   