{% extends "AcmeAdminBundle::adminlayout.html.twig" %}

{% block content %}

<script>
$(document).ready(function () {
 
$("#keyword").keyup(function() {
search();
	  
  });
  
$('#keyword').val('Enter Search Keyword');
           
$.post("{{ path('acme_admin_work_getlist') }}",
             function(data){ 
             $('#work_list').html(data);
             });
             
             
$.post("{{ path('acme_admin_user_getlist') }}",
             {'status':'0'},
             function(data){
             $('#allrecords').html(data);
             $("table").trigger("update"); 
             
            });
	
});

function search()
{

 var status = 0;
 var order = 'id';
 var last =10;
 var keyword= $('#keyword').val();
 
 $.post("{{ path('acme_admin_usersajaxsearch') }}",
          {'first':0,'order':order,'status':status,'last':last,'keyword':keyword},
         function(data){       
        
           $('#allrecords').html(data);
           
             
          });
         
}
	
</script>
				
			
				
				
				<div class="panel-wrapper">
					<div class="panel">
						<div class="title">
							<h4>Registration Request</h4>
							<div class="search_box" >
              <input value="Enter Search Keyword" type="text" name="keyword" id="keyword" onfocus="if(this.value==this.defaultValue)this.value=''" onblur="if(this.value=='')this.value=this.defaultValue; else if(this.value=='')this.value=this.defaultValue;">
              <span class="magnifier"></span>
              </div>
							<div class="collapse">collapse</div>
						</div>
						
						<div class="content">
						<!-- ## Panel Content  -->
						
						<table id="sample_table_sortable" class="sortable resizable"> 
							<thead> 
									<tr> 
  									<th>User Name</th> 
  									<th>First Name</th> 
  									<th>Email</th> 
  									<th>Created</th> 
  									<th>Last Login</th>
                    <th>Status</th> 
                    <th>Action</th>  
							  	</tr> 
							</thead> 
							<tbody id="allrecords"> 
							
							</tbody> 
						</table> 
						
						<!-- ## / Panel Content  -->
						</div>
					</div>
					
					<div class="shadow"></div>
				</div>
				
					<div class="panel-wrapper">
					<div class="panel">
						<div class="title">
							<h4>Latest - Work Items</h4>
							<div class="collapse">collapse</div>
						</div>
						
						<div class="content" id="work_list">
						<!-- ## Panel Content  -->
						
            <!-- ## / Panel Content  -->
						</div>
					</div>
					
					<div class="shadow"></div>
				</div>
				
{% endblock %}