<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Skoodio - Dashboard</title>
		
		<script type="text/javascript" src="{{ asset('bundles/framework/js/jquery-1.7.2.min.js') }}" ></script>
		<!-- 1140px Grid styles for IE -->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

		<!-- The 1140px Grid -->
		<link rel="stylesheet" href="{{ asset('bundles/framework/_layout/1140.css') }}" type="text/css" media="screen" />
		
		
		<link rel="stylesheet" href="{{ asset('bundles/framework/_layout/styles.css') }}" type="text/css" media="screen" />
		<link rel='stylesheet' href='{{ asset('bundles/framework/_themes/default.css') }}' type='text/css' media='screen' />

		
		<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
		<script type="text/javascript" src="{{ asset('bundles/framework/_layout/scripts/css3-mediaqueries.js') }}"></script>
		
			
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|PT+Sans+Narrow:regular,bold|Droid+Serif:iamp;v1' rel='stylesheet' type='text/css' />
		
		
		<!-- Scripts -->
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js?ver=1.6'></script>
		
		
		<!-- Charts -->
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/jquery.raphael/raphael-min.js') }}'></script>
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/jquery.morris/morris.min.js') }}'></script>
	
		
		<!-- WYSISYG Editor -->
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/nicEdit/nicEdit.js') }}'></script>
		
		
		<!-- Forms Elemets -->
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/jquery.uniform/jquery.uniform.min.js') }}'></script>
		<link rel='stylesheet' href='{{ asset('bundles/framework/_layout/scripts/jquery.uniform/uniform.default.css') }}' type='text/css' media='screen' />
		
		
		<!-- Table sorter -->
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/jquery.tablesorter/jquery.tablesorter.min.js') }}'></script>
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/table.resizable/resizable.tables.js') }}'></script>
		
		
		<!-- Lightbox - Colorbox -->
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/jquery.colorbox/jquery.colorbox-min.js') }}'></script>
		<link rel='stylesheet' href='{{ asset('bundles/framework/_layout/scripts/jquery.colorbox/colorbox.css') }}' type='text/css' media='screen' />
		
		
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/custom.js') }}'></script>
	
	<script>

$(document).ready(function() {

$('#remberme').click(function(){
if($('#form_rememberme').val()==0)
{
$('#form_rememberme').val('1');
$('#remberme').attr('class', 'checked');
}else{
$('#form_rememberme').val('0');
$('#remberme').attr('class', 'check_box');
}
});

});

function showFP()
{
$('#forgot_pass').toggle();
$('#user_login').toggle();
}


function ajaxforfotpwd()
{

  var error=0;
  var username = $('#form_ffusername').val();
  
  if(username=='')
  {
    
    error = 1;
    $("#form_ffusername").css("border-color", "#ff0000");
    
    }else{
    error = 0;
    $("#form_ffusername").css("border-color", "#CCCCCC");
    
    }
    
    if(error==0)
{
$.post("{{ path('acme_admin_ajaxforgotpwd') }}",
         {'username':username},
         function(data){    
           $('#status_message3').html(data),'json';
        });
          
          
}
 }
</script>
		
	</head>

	<body class="texture">
	 

	
	<div class="container">
		<div class="row" id="user_login">
		
				<div class="panel-wrapper panel-login">
					<div class="panel">
						<div class="title">
							<h4>Admin Login</h4>
						</div>
						
						<div class="content">
						<!-- ## Panel Content  -->
             
							<form  action="{{path('acme_admin_login')}}" method="post" {{ form_enctype(form) }}>
                  {{ form_widget(form) }}
								 
								 <div>
								 <input type="checkbox" name="rememberme" id="form_rememberme">
                    Remember me
        
								 </div>
								<div>
									<a href="javascript:void(0)" class="button-blue submit">Login</a> 
								</div>
							</form>
						  
						  
						 

						<!-- ## / Panel Content  -->
						</div>
					</div>
					
					<div class="shadow"></div>
				</div>
				
				<div class="login-details">
					<p>Forgot your password? &nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onClick="showFP()">Click here</a></p>
				</div>
				
		</div>	
		
		
		
		<!-- forgot pwd -->
			<div class="row" id="forgot_pass" style="display:none">
		
				<div class="panel-wrapper panel-login">
					<div class="panel">
						<div class="title">
							<h4>Forgot Password</h4>
						</div>
						
						<div class="content">
						<!-- ## Panel Content  -->
              <div id="status_message3" style="text-align:center"></div>
              <form method="post" action="">
                <div id="form">
                <div><label class="required" for="form_ffusername">Username</label>
                <input type="text" required="required" name="form[username]" id="form_ffusername"></div>
                 </div>
                
              
              
                <div>
									<a href="javascript:void(0)" class="button-blue" onclick="ajaxforfotpwd()" >Submit</a> 
								</div>
            </form>
						  
						 

						<!-- ## / Panel Content  -->
						</div>
					</div>
					
					<div class="shadow"></div>
				</div>
				
				<div class="login-details">
					<p>Back to login? &nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onClick="showFP()">Click here</a></p>
				</div>
				
		</div>	
	</div>

	
	 
	</body>
	
</html>
	