{% extends "AcmeAdminBundle::adminlayout.html.twig" %}
{% block content %}
<script>


	$(document).ready(function () { 
	
	$("#keyword").keyup(function() {
	  search();
  });
	$('#keyword').val('Enter Search Keyword');
	$('#first').val({{ last }});
	});
	
function updatestatus(id, status)
{
  if(confirm('are you sure you want to update status?'))
  {

    $.post("{{ path('acme_admin_user_status') }}",
             {'id':id,'status':status},
             function(data){ });
    $('#row_'+id).fadeOut();
    
  }else{
  if(status ==0) {
    $('#'+id).attr("checked", "checked");
    }else{
    $('#'+id).removeAttr('checked')
    }
    
    
  }
}	
function fetchrecord()
{

 var first = $('#first').val();
 var order = $('#order').val();
 var status = $('#status').val();
 var last = $('#last').val();
 var keyword= $('#keyword').val();
 $.post("{{ path('acme_admin_userajax') }}",
          {'first':first,'order':order,'status':status,'last':last,'keyword':keyword},
         function(data){
        
         var firstnew =parseInt(first)+parseInt(last);
          $('#first').val(firstnew);
          $('#sample_table_sortable tbody').append(data);
           $("sample_table_sortable").trigger("update"); 
        // set sorting column and direction, this will sort on the first and third column 
        var sorting = [[2,1],[0,0]]; 
        // sort on the first column 
        $("sample_table_sortable").trigger("sorton",[sorting]);
        $("#sample_table_sortable").tablesorter();
   
         
          });
     
}
 
 var isWorking = 0;
 var lastScrollTop = 0;
    
$(window).scroll(function (event) 
{

 var st = $(this).scrollTop();
   if (st > lastScrollTop){
if(isWorking==0)  
    {
         isWorking=1;
         fetchrecord();
         setTimeout(function(){isWorking=0},2000);
    }
   }
	lastScrollTop = st;	
});




function search()
{

 var firstnew =$('#firstconstant').val();
 $('#first').val(firstnew);
 var status = $('#status').val();
 var order = $('#order').val();
 var last= $('#last').val();
 var keyword= $('#keyword').val();
 
 $.post("{{ path('acme_admin_usersajaxsearch') }}",
          {'first':0,'order':order,'status':status,'last':last,'keyword':keyword},
         function(data){       
        
           $('#allrecords').html(data);
           $("table").trigger("update"); 
             
          });
          $("#sample_table_sortable").tableSorter();
}



</script>


<input type="hidden" name="first" id="first" value="{{ last }}">
        <input type="hidden" name="firstconstant" id="firstconstant" value="{{ last }}">
        <input type="hidden" name="last" id="last" value="{{ last }}">
        <input type="hidden" name="order" id="order" value="{{ order }}">
        <input type="hidden" name="status" id="status" value="{{ status }}">
        
<div class="panel-wrapper">
					<div class="panel">
						<div class="title">
							<h4>{{ pagetitle }}</h4>
							<div class="search_box" >
              <input value="Enter Search Keyword" type="text" name="keyword" id="keyword" onfocus="if(this.value==this.defaultValue)this.value=''" onblur="if(this.value=='')this.value=this.defaultValue; else if(this.value=='')this.value=this.defaultValue;">
              <span class="magnifier"></span>
              </div>
							<div class="collapse">collapse</div>
						</div>
						
						<div class="content">
						<!-- ## Panel Content  -->
						
						<table id="sample_table_sortable" class="sortable resizable"> 
							<thead> 
								<tr> 
									<th>User Name</th> 
									<th>First Name</th> 
									<th>Email</th> 
									<th>Created</th> 
									<th>Last Login</th>
                  <th>Status</th> 
                  <th>Action</th>  
								</tr> 
							</thead> 
							<tbody id="allrecords"> 
							{% for user in userlist %}
								<tr id="row_{{ user.id }}"> 
									<td>{{ user.username }}</td> 
									<td>{{ user.firstName }}</td> 
									<td>{{ user.email }}</td> 
									<td>{{ user.created|date("m/d/Y") }}</td> 
									<td> {% if user.lastLogin != '' %}
                        {{ user.lastLogin|date("m/d/Y") }}
                        {% else %}
                        Never
                        {% endif %}
                  </td> 
                  <td>
                  {% if user.isActive == '1' %}
                      <input type="checkbox" onClick="updatestatus({{ user.id }}, 0)"  class="user_status" name="status" id="{{ user.id }}" checked="checked">
                    {% else %}
                      <input type="checkbox" onClick="updatestatus({{ user.id }}, 1)"  class="user_status" name="status" id="{{ user.id }}" >
                  {% endif %}
        
                  </td> 
                  <td>
                  <a href="{{ path('acme_admin_edituser', { 'id': user.id }) }}">Edit</a>    
                  </td>
								</tr> 
								{% endfor %}
							</tbody> 
						</table> 
						
						<!-- ## / Panel Content  -->
						</div>
					</div>
					
					<div class="shadow"></div>
				</div>
{% endblock %}