    {% for user in userlist %}
    	<tr id="row_{{ user.id }}"> 
									<td>{{ user.username }}</td> 
									<td>{{ user.firstName }}</td> 
									<td>{{ user.email }}</td> 
									<td>{{ user.created|date("m/d/Y") }}</td> 
									<td> {% if user.lastLogin != '' %}
                        {{ user.lastLogin|date("m/d/Y") }}
                        {% else %}
                        Never
                        {% endif %}
                  </td> 
                  <td>
                  {% if user.isActive == '1' %}
                      <input type="checkbox" onClick="updatestatus({{ user.id }},0)"  class="user_status" name="status" id="{{ user.id }}" checked="checked">
                    {% else %}
                      <input type="checkbox" onClick="updatestatus({{ user.id }},1)"  class="user_status" name="status" id="{{ user.id }}" >
                  {% endif %}
        
                  </td> 
                   <td>
                  <a href="{{ path('acme_admin_edituser', { 'id': user.id }) }}">Edit</a>    
                  </td>
								</tr> 
    
    
    {% endfor %}
  