<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<link rel="shortcut icon" href="{{ asset('bundles/framework/favicon.ico') }}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>::Skoodio::My Works::</title>

<link href="{{ asset('bundles/framework/css/global.css') }}" rel="stylesheet" type="text/css" />

<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{{ asset('bundles/framework/js/jquery-1.7.2.min.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/framework/js/flipping.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/framework/js/drop_down.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/framework/js/css-pop.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/framework/js/dragdrop.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/framework/js/jquery-ui-1.8.22.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/framework/js/jQuery.fileinput.js') }}"></script>
<link href="{{ asset('bundles/framework/calendar/calendar.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript"  src="{{ asset('bundles/framework/calendar/dcal/dcal.js') }}"></script>
<script type="text/javascript"  src="{{ asset('bundles/framework/calendar/dcal/dcal-en.js') }}"></script>
<script type="text/javascript"  src="{{ asset('bundles/framework/calendar/dcal/dcal-setup.js') }}"></script>

<style>
@media print {
  body * {
    visibility:hidden;
  }
  .printable, .printable * {
    visibility:visible!important;
    }
  .printable {
    background:#ffffff!important;
    right:auto!important;
    width:100%!important;
  }
}
</style>
<link href="{{ asset('bundles/framework/css/enhanced.css') }}" rel="stylesheet" type="text/css" /> 
   <!--div for viewer-->
   <script type="text/javascript">
                //jquery dropdown//
         function  hideallmenu()
         {
          $('#mainnav div').hide();
		      $('#secondnav div').hide();
		      $('#filters div').hide();
         }
					$(document).ready(function () { 
				
				           						
    						$('#mainnav li').click(function () {
    						     $('#mainnav div').hide();
    						     $('#secondnav div').hide();
    						     $('#filters div').hide();
    					       $('div', this).toggle();
 
       							}
    						);
    						
   	           $('#secondnav li').click(function () {
    						      $('#secondnav div').hide();
    						      $('#filters div').hide();
    						      $('#mainnav div').hide();
    					       	$('div', this).toggle();
 
       							}
    						);
    						
    						$('#option_button2').click(function () {
    						     $('#option_button2_menu').toggle();
                           							}
    						);
    						
   	           $('#filters li').click(function () {
    						     $('#mainnav div').hide();
    						     $('#secondnav div').hide();
    						     $('#filters div').hide();
    					       $('div', this).toggle();
 
       							}
    						);
    						
						});
				</script>
  
  
		

    <script type="text/javascript">
    
    	/*--Create the function--*/
	function critProcessPopUpBH(rootpath,id) {
	
		var myHeight= window.innerHeight;
		var myWidth= window.innerWidth;
		/*--Create the function--*/
		if (popupState == false) {
		  popupState = true;
			document.getElementById('popupbackground').style.left=myWidth/2-487+'px';
			document.getElementById('popupbackground').style.top='55px';
			document.getElementById('popupbackground').style.position='fixed';
			/*--Disabling scrolling while pop up shows--*/
			document.body.style.overflow='hidden';
			document.getElementById('blanket').style.visibility='visible';
			document.getElementById('blanket').style.opacity='0.6';
			document.getElementById('blanket').style.minWidth=myWidth+'px';
			document.getElementById('blanket').style.minHeight=myHeight+'px';
			document.getElementById('popupbackground').style.visibility='visible';
			document.getElementById('popupbackground').style.opacity='1';
			
				$.post(rootpath,{'id':id},
           function(data){
           $('#popupbackground').html(data);
           document.getElementById('blanket').style.visibility='visible';
          });
       
			}
			else{
			  popupState = false;
			  $('#popupbackground').html('');
				document.body.style.overflow='auto';
				document.getElementById('blanket').style.opacity='0';
				setTimeout(function() {document.getElementById('blanket').style.visibility='hidden';},0300);
				document.getElementById('popupbackground').style.opacity='0';
				setTimeout(function() {document.getElementById('popupbackground').style.visibility='hidden';},0300);
				
				}
		};



    function genPopUpBh(rootpath,section,id){
        
        var myHeight= window.innerHeight;
    		var myWidth= window.innerWidth;
    		var sctop = $(window).scrollTop();
    		
    		if (popupState==false){
    		 
    			document.body.style.overflow='hidden';
    			document.getElementById('blanket').style.minHeight=myHeight+"px";
    			document.getElementById('blanket').style.minWidth=myWidth+"px";
    			document.getElementById('blanket').style.visibility="visible";
    			document.getElementById('blanket').style.opacity="0.6";
    			document.getElementById(whichPopUp).style.display="block";
    			document.getElementById(whichPopUp).style.left=myWidth/2-popUpWidth+'px';
    			document.getElementById(whichPopUp).style.top=myHeight/2-popUpHeight+sctop+'px';
    			$.post(rootpath,
            {'id':id},
           function(data){
           $('#'+section).html(data);
          });
          
          document.getElementById(whichPopUp).style.opacity="1";
    		  
    			popupState = true;
    		}
    	};
    	
    	
    function genPopUpBhPre(rootpath,section,id){
    
		var myHeight= window.innerHeight;
		var myWidth= window.innerWidth;
		var minHeight= (window.innerHeight-64)/2;
		/*--Create the function--*/
		if (popupState == false) {
		  loadingIcon();
			document.getElementById('expanded_content').style.display='block';
			document.getElementById('expanded_content').style.maxWidth=myWidth+'px';
			document.getElementById('expanded_content').style.maxHeight=myHeight+'px';
			document.getElementById('expanded_content').style.position='fixed';
			document.getElementById('expanded_content').style.zIndex='300';
			document.getElementById('expanded_content').style.opacity='1';
			$.post(rootpath,{'id':id},
           function(data){
           $('#'+section).html(data);
           $('#expanded_content').css('overflow', 'hidden');
         
          });
			/*--Disabling scrolling while pop up shows--*/
		
			document.getElementById('blanket').style.visibility='visible';
			document.getElementById('blanket').style.opacity='0.7';
			document.getElementById('blanket').style.minWidth=myWidth+'px';
			document.getElementById('blanket').style.minHeight=myHeight+'px';
			/*--Assign a Variable to tell the popup is now currently On--*/
			document.body.style.overflow='hidden';
			popupState = true;
			}else if (popupState != false){
				document.body.style.overflow='auto';
				document.getElementById('blanket').style.opacity='0';
				document.getElementById('expanded_content').style.opacity='0';
				setTimeout(function() {document.getElementById('expanded_content').style.display='none';},0300);
				setTimeout(function() {document.getElementById('blanket').style.visibility='hidden';},0300);
				popupState = false;
				$('#expanded_content').html('');
				} 
			
		};	
		
	function printDiv(section) 
    {
       $('#'+section).addClass('printable');
       window.print();
       
    }
    
    </script>
</head>


<!-- STARTS BODY-->
<body>
<div id="wrap">
	<div id="blanket"></div>	
	<div id="skoodio_loading" style="display:none">
    	<img src="{{ asset('bundles/framework/') }}/img/animated/SkoodioIcon03.gif"/>
    </div>
    <div id="skoodio_documentloading" style="display: none;" onclick="docloadingIcon()">
    				<img src="{{ asset('bundles/framework/') }}/img/animated/Skoodio_iconDocument03.gif">
    </div>
     <div id="uploadingMessage">      
    </div>
	<!-- STARTS DIV ID HEADER-->
	
	{% include  "AcmeSkoodioBundle::header.html.twig" %}
  
 	<!-- END DIV ID HEADER-->
 	
    <!-- STARTS CONTENT-->
    <div id="content">
    	{% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                  {{ flashMessage }}
                </div>
      {% endfor %}    
    <!-- Starts cardholder area -->
    
        {% block content %}
        
         	
        
        {% endblock %}
    
    <!-- ENDS cardholder area------>
        
<!-- STARTS PORTFOLIO TRAY---------------------------------------------------------------------------------------------->
   
     
  
      
<!-- ENDS PORTFOLIO TRAY------------------------------------------------------------------------------------------------->


<!-- starts Tour------------------------------------------------------------------------------------------------->
   
   {% include  "AcmeSkoodioBundle::starttour.html.twig" %} 


<!-- Ends Tour------------------------------------------------------------------------------------------------->


      </div>
<!-- ENDS DIV ID WRAP-->

<!-- STARTS FOOTER-->

  
    {% include  "AcmeSkoodioBundle::footer.html.twig" %} 
    
    
<!--ENDS FOOTER-->      
</div>


<!------------------------------------POPUP MODALS--------------------------------------->    
<!---Work Edit Popup-->
<div id="popEdit" class="genPopUpBg">
    
</div>
<div id="singlePopUp">

</div>
<!---Work Upload  Popup-->
<div id="popUpload" class="genPopUpBg">
    
</div>

<!----------------------------------------ADD TO------------------------------------------>
	<div id="popAddto" class="genPopUpBg">
	
	</div>
 <!---Work Preview Popup-->
		
<div id="popUpOverflow">
    <div id="expanded_content" style="display:none; opacity:0">
    
    </div>
</div>
<!--DELETE-->
    
    {% include  "AcmeSkoodioBundle::delete.html.twig" %}
    
    {% include  "AcmeSkoodioBundle::deletecrit.html.twig" %}
    
    
    {% include  "AcmeSkoodioBundle::deletesetall.html.twig" %}
<!---------------------------------------SAVE-------------------------------------------------->  
<div id="createSaveSet" class="genPopUpBg">	
	
	 
	 
</div>	 
<!----------------------------------------SHARE------------------------------------------>


 <div id="popShare" class="genPopUpBg">
    	
	</div>
	
  <div id="popupbackground">
  
  </div>
  

<!------------------------------------------LOGIN or REGISTER----------------------------------------->
	
  
  {% include  "AcmeSkoodioBundle::loginregister.html.twig" %}
	        
	
<!-------------------------------------------------------------------------------------------->        
	
	    
</body>
</html>