<div style="width:100%;float:left;background:url('{{ app.request.host }}/{{ asset('bundles/framework/') }}/img/01_background.jpg')">
<div style="width:100%;float:left;text-align:center">
<img src="{{ app.request.host }}/{{ asset('bundles/framework/') }}/img/02_Logo_header.png">
</div>
<div style="padding:20px;width:100%;float:left;">  
  <p>Hello {{ username }},</p>
 
  <p>Your password has been regenerated, Please find bellow new password:</p>
  <br />
  <p>Username: {{ username }}</p>
  <p>Password: {{ password }}</p>
  <br />
  <p>Thanks & Regards</p>
  <p>Skoodio Administrator</p>
</div>             
             
</div> 
   
