<div style="background:#FFF;	margin:20px auto;	box-shadow:#999 0px 9px 9px;	max-width:625px;	min-height:625px;	min-width:625px;	padding:10px;  text-shadow:#FFF 0px 1px 1px;">
    	<div style="text-align:left;	background:url({{ app.request.host }}/{{ asset('bundles/framework/') }}/img/01_popup_background.jpg) repeat;	border:#b3cad3 4px solid;	min-height:625px;	position:relative;">
        	<div  style="	background:url({{ app.request.host }}/{{ asset('bundles/framework/') }}/img/12_emailLogo.png) top left no-repeat;	display:blocK;	margin:13px auto 12px;	max-height:87px;	min-height:87px;	max-width:73px;	min-width: 73px;">
            </div>
            <h1 style="color:#313131;	font:100 17px Helvetica, Arial, sans-serif;	text-shadow:#FFF 0 1px;	margin:0 30px 20px;">{{ app.session.get('usersession')['userfirstname']}} {{ app.session.get('usersession')['userlastname']}} has sent you<span class="docTitle" style="	color:#005578;	font:bold 19px Helvetica, Arial, sans-serif;">&nbsp;{{ workitem.title }}</span>&nbsp;to review.</h1>
            <h2 style="	color:#535353;	font:bold 14px Helvetica, Arial, sans-serif;	margin:5px 30px 5px;	text-align:left;">Message from {{ app.session.get('usersession')['userfirstname']}} {{ app.session.get('usersession')['userlastname']}}</h2>
            <span class="horizontal_divider" style="margin:6px 25px 0;display:block;
	min-height:0px;
	max-height:0px;
	background-color:#e0dede;
	border-top:#c8c8c8 thin ridge;
	border-bottom:#fff thin inset;
	margin:10px 0;"></span>
            <div class="messageContainer" style="display:block;	text-align:center;	margin:9px auto;	max-width:569px;	min-width:569px;">
            
                <div class="message" style="text-align:left;	margin:0 auto;	color:#535353;	float:left;	font:italic 14px Arial, Helvetica, sans-serif;	max-width:508px;	min-width:508px;	line-height:19px;	padding:0 6px;" id="short_message" ><span class="bigq" style="float:left;	position:relative;	top:-14px;	color:#005578;	font:normal normal 48px/30px Helvetica, Arial, sans-serif;	max-height:24px;	min-height:24px;	max-width:24px;	min-width:24px;">&#8220;</span>{{ emailmessage }} <span class="bigqend" style="color: #005578;    float: right;    font: 48px/48px Helvetica,Arial,sans-serif;    max-height: 24px;    max-width: 24px;    min-height: 24px;    min-width: 24px;    padding-left: 10px;    position: absolute;">&#8221;</span></div>
             
            </div>
            <div id="spacer" class="email" style="	float:left;	min-height:37px;	position:inherit;	width:100%;	"></div>
            <h2 style="	color:#535353;	font:bold 14px Helvetica, Arial, sans-serif;	margin:5px 30px 5px;	text-align:left;">Preview of the document</h2>
            <span class="horizontal_divider" style="margin:6px 25px 0;display:block;
	min-height:0px;
	max-height:0px;
	background-color:#e0dede;
	border-top:#c8c8c8 thin ridge;
	border-bottom:#fff thin inset;
	margin:10px 0;"></span>
            <span class="description" style="color:#535353;	display:block;	font:normal 14px Arial, Helvetica, sans-serif;	line-height:18px;	margin-left:30px;	margin-top:10px;	max-width:558px;">
            <div id="minicards_content" style="	background-color:#fff;
	height:72px;
	
	position:relative;
	
	width:99px;
	z-index:500;border:1px solid #a6a6a6;	float:left;	left:0;	margin:0 10px 7px 0;top:2px;">
            	<div id="minicards_image" style="  background-color: #AFAFAF;
    margin: 4px;
    max-height: 66px;
    max-width: 91px;
    min-height: 66px;
    min-width: 91px;
    overflow: hidden;
    position: relative;
    ">
                	<h1 class="card_minithumb" style=" color: #818181;
    font: lighter 20px/18px Arial,Helvetica,sans-serif;
    margin: 0;
    text-align: left;
    text-shadow: none;color: #818181;    font:lighter 20px Arial,Helvetica,sans-serif;    line-height: 18px;    text-align: left;	text-shadow:none;	margin:0;">{{ workitem.title|truncate(25) }}</h1>
            	</div>
           	</div>
            <div style="display: block;
    float: left;
    height: 31px;
    margin: 3px 0 0px 0px;
    padding: 2px;
    width: 31px;background: url({{ app.request.host }}/{{ asset('bundles/framework/') }}/img/02_header_icons.png) no-repeat scroll -80px -39px transparent;"></div>
            <h2 style="	color:#535353;	font:bold 14px Helvetica, Arial, sans-serif;	margin:5px 30px 5px;	text-align:left;">{{ workitem.title }}</h2>
            <p style="color:#313131;	font:normal 11px Arial, Helvetica, sans-serif;	line-height:16px;"class="pharagraph">            {{ workitem.description }}            </p>            </span>
            <div id="spacer" class="email"></div>
            <h2 style="	color:#535353;	font:bold 14px Helvetica, Arial, sans-serif;	margin:5px 30px 5px;	text-align:left;">Review of the document</h2>
            <span class="horizontal_divider" style="margin:6px 25px 0;display:block;min-height:0px;max-height:0px;background-color:#e0dede;border-top:#c8c8c8 thin ridge;border-bottom:#fff thin inset;margin:10px 0;"></span>
             <div class="review" style="color:#474747;	font:normal 12px Arial, Helvetica, sans-serif;	line-height:15px; 	margin:9px 30px 0;">Your valuable feedback will help me to improve this project, feel free to make any suggestions about  what could be done to make this and future works even better.            </div>
            
            
            <div id="sending" style="text-align:center;	 margin:32px 30px 0;">
            	<a oncontextmenu="return false;" href="{{ app.request.host }}{{ path('acme_skoodio_critconsoleview',{'critid': crit.id,'email':emailencoded}) }}" class="send_button" style="background:#005578;	box-shadow:#666 0px 1px 3px;	color:#fff;	clear:both; 	display:block;	font:bold 11px Helvetica, Arial, sans-serif;	line-height:32px;	max-width:262px;	margin:10px auto 0;	min-width:262px;	max-height:30px;	min-height:30px;	text-shadow:none;	text-decoration:none;">CLICK HERE TO REVIEW THE DOCUMENT</a>            	  
              <span class="expire_date" style="display:block;clear:both;	color:#934e24;	font:lighter 12px Helvetica, Arial, sans-serif;	margin-top:6px;">Access is set to expire on <strong>{{ crit.expiration|date('d/m/Y') }} *</strong></span>
                <span class="legal" style="display:block;	color:#474747;	font:normal 11px Arial, Helvetica, sans-serif;	line-height:12px;	margin:80px 0 15px;	text-align:left;">* The author reserves the right to remove and/or expire access at any point in time. The author reserves the right to remove and/or expire access at any point in time.</span>
            </div>
        </div>
	</div>
	