<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Skoodio - Dashboard</title>
		
		<script type="text/javascript" src="{{ asset('bundles/framework/js/jquery-1.7.2.min.js') }}" ></script>
		<!-- 1140px Grid styles for IE -->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

		<!-- The 1140px Grid -->
		<link rel="stylesheet" href="{{ asset('bundles/framework/_layout/1140.css') }}" type="text/css" media="screen" />
		
		
		<link rel="stylesheet" href="{{ asset('bundles/framework/_layout/styles.css') }}" type="text/css" media="screen" />
		<link rel='stylesheet' href='{{ asset('bundles/framework/_themes/default.css') }}' type='text/css' media='screen' />

		
		<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
		<script type="text/javascript" src="{{ asset('bundles/framework/_layout/scripts/css3-mediaqueries.js') }}"></script>
		
			
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|PT+Sans+Narrow:regular,bold|Droid+Serif:iamp;v1' rel='stylesheet' type='text/css' />
		
		
		<!-- Scripts -->
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js?ver=1.6'></script>
		
		
		<!-- Charts -->
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/jquery.raphael/raphael-min.js') }}'></script>
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/jquery.morris/morris.min.js') }}'></script>
	
		
		<!-- WYSISYG Editor -->
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/nicEdit/nicEdit.js') }}'></script>
		
		
		<!-- Forms Elemets -->
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/jquery.uniform/jquery.uniform.min.js') }}'></script>
		<link rel='stylesheet' href='{{ asset('bundles/framework/_layout/scripts/jquery.uniform/uniform.default.css') }}' type='text/css' media='screen' />
		
		
		<!-- Table sorter -->
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/jquery.tablesorter/jquery.tablesorter.min.js') }}'></script>
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/table.resizable/resizable.tables.js') }}'></script>
		
		
		<!-- Lightbox - Colorbox -->
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/scripts/jquery.colorbox/jquery.colorbox-min.js') }}'></script>
		<link rel='stylesheet' href='{{ asset('bundles/framework/_layout/scripts/jquery.colorbox/colorbox.css') }}' type='text/css' media='screen' />
		
		
		<script type='text/javascript' src='{{ asset('bundles/framework/_layout/custom.js') }}'></script>
	
			
	</head>

	<body>
	 
	<div id="header-wrapper" class="container">
		<div id="user-account" class="row" >
			<div class="threecol"> <span>Welcome to the Skoodio Admin Dashboard</span> </div>
			<div class="ninecol last"> 
      {% if app.session.get('adminsession') %}
      <a href="{{ path('acme_admin_logout') }}">Logout</a> <span>|</span> <a href="{{ path('acme_admin_account') }}">My account</a> <span>|</span> <span>Welcome, <strong>{{ app.session.get('adminsession') ? app.session.get('adminsession')['username'] : 'Anonymous' }}</strong></span> </div>
		  {% else %}
		  
		   <a href="{{ path('acme_admin_login') }}">Login</a>
		   
		  {% endif %}
    </div>

		<div id="user-options" class="row">
			<div class="threecol"><a href="{{ path('acme_admin_homepage') }}"><img class="logo" src="{{ asset('bundles/framework/_layout/images/mobile_logo.png') }}" alt="QuickAdmin" /></a></div>
			<div class="ninecol last fixed">
				
				<ul class="nav-user-options">
					
				
					
				</ul>
				
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
		
			<div id="sidebar" class="threecol">
				<ul id="navigation">
					<li class="first active"><a href="{{ path('acme_admin_homepage') }}">Dashboard <span class="icon-dashboard"></span> </a></li> 
					<li><a href="{{ path('acme_admin_user') }}">Active Users </a></li>
					<li><a href="{{ path('acme_admin_register_request') }}">Registration Request</a></li>
				
				</ul>
			</div>
			
			<div id="content" class="ninecol last">
				 {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                  {{ flashMessage }}
                </div>
         {% endfor %}
				{% block content %}
        
         	
        
        {% endblock %}
				
			</div>			
		</div>
	</div>
	
	 
	</body>
	
</html>
	