<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>::Skoodio::My Works::</title>

<link href="{{ asset('bundles/framework/css/global.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/framework/css/admincss.css') }}" rel="stylesheet" type="text/css" />

<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="{{ asset('bundles/framework/js/flipping.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/framework/js/drop_down.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/framework/js/css-pop.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/framework/js/dragdrop.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/framework/js/jquery-1.7.2.min.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/framework/js/jquery-ui-1.8.22.custom.min.js') }}"></script>

 <!--docviewer.js-->
  <script src="http://www.static-v2.crocodoc.com/core/docviewer.js"></script>

  <!--sets a global variable "_doc" that is needed for initialization-->
  <script src="https://crocodoc.com/webservice/document.js?session=fhVGOjt6LRWFQE4HadR532IQPjOax-Vv6nErhnzjngjwYljAVMeN5WtlgqBRK7H5FXUWy8ko0jgshs9w9md-_9zoCJyyrfXOfhD53Q"></script>
  <!--div for viewer-->
   <script type="text/javascript">
                //jquery dropdown//

					$(document).ready(function () { 
    						$('#mainnav li').hover(
       							 function () {
            					//show its submenu
            					$('div', this).stop().fadeIn(100);
 
       							}, 
        						function () {
            					//hide its submenu
            					$('div', this).stop().fadeOut(100);          
        						}
    						);
						});
				</script>
  
  <script type="text/javascript">
                //jquery dropdown//
					$(document).ready(function () { 
    						$('#secondnav li').hover(
       							 function () {
            					//show its submenu
            					$('div', this).stop().fadeIn(100);
 
       							}, 
        						function () {
            					//hide its submenu
            					$('div', this).stop().fadeOut(100);          
        						}
    						);
						});
				</script>
				
		 <script type="text/javascript">
                //jquery dropdown//
					$(document).ready(function () { 
    						$('#content li').hover(
       							 function () {
            					//show its submenu
            					$('div', this).stop().fadeIn(100);
 
       							}, 
        						function () {
            					//hide its submenu
            					$('div', this).stop().fadeOut(100);          
        						}
    						);
						});
				</script>
</head>


<!-- STARTS BODY-->
<body>
<div id="wrap">
	<div id="blanket"></div>	
	  <div id="skoodio_loading" style="display:none">
    	<img src="{{ asset('bundles/framework/') }}/img/animated/SkoodioIcon03.gif"/>
    </div>
    <div id="skoodio_documentloading" style="display: none;" onclick="docloadingIcon()">
    				<img src="{{ asset('bundles/framework/') }}/img/animated/Skoodio_iconDocument03.gif">
    </div>
     <div id="uploadingMessage">      
    </div>
	<!-- STARTS DIV ID HEADER-->
	
		<div id="header">
        <div id="mainnav">
            <ul>
                                
                <li><a id="item1" href="{{ path('acme_admin_homepage') }}"></a></li>
                
                
                <li class="submenu"><a id="item2" href="#" ></a>
                    <div id="portfolio_options">
                        <ul class="submenu_dropdown">
                            <li><a href="{{ path('acme_admin_user') }}">Users</a></li>
                            <li><a href="{{ path('acme_admin_register_request') }}">Registration Request</a></li>
                            
                        </ul> 
                    </div>
                </li>
                
                
                
                
                
            </ul>        
        </div>
         <div id="secondnav">
         	<ul>
         	
                <li><a id="item5" href="#"></a></li>
                <li class="divider"></li>
         	 {% if app.session.get('adminsession') %}
              	<li class="submenu"><a href="#">{{ app.session.get('adminsession') ? app.session.get('adminsession')['username'] : 'Anonymous' }}<img src="{{ asset('bundles/acmeskoodio/') }}/img/02_header_dropdown.png" /></a>
                  	<div id="user_options">
                        <ul class="submenu_dropdown">
                				  <li><a href="{{ path('acme_admin_account') }}">Account info</a></li>
                    			<li><a href="{{ path('acme_admin_logout') }}">Sign out</a></li>
                			 </ul>
                    </div>
                  </li>
              {% else %}
                  
                  <li><a href="{{ path('acme_admin_login') }}">Login</a></li>
                  
              {% endif %}
                
            </ul>
         </div>
         <div id="logo">
         </div>        
	</div>
  
 	<!-- END DIV ID HEADER-->
 	
    <!-- STARTS CONTENT-->
    <div id="content">
    	<div id="contentidbg">
    	  		<div id="contentid">
        				{{ pagetitle }}
                
                {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                  {{ flashMessage }}
                </div>
                {% endfor %}
          	
            	</div>
                <div id="spacer">
                </div>		
                	
      </div> 
    <!-- Starts cardholder area -->
    
        {% block content %}
        
         	
        
        {% endblock %}
    



      </div>
<!-- ENDS DIV ID WRAP-->

<!-- STARTS FOOTER-->

  
   <div id="footer">     
 	    
      
      <div id="tothetop_holder">     
    	<a href="#">to the top<img src="{{ asset('bundles/acmeskoodio/') }}/img/06_footer_top_arrow.png" /></a>
   	  </div>    
    </div>
    
    
<!--ENDS FOOTER-->      
</div>


	<script type="text/javascript">
	
	
	//Scrolling
	$(window).scroll(function () {
	//	loadingIcon();
		}
		);
</script>
</body>
</html>