<div class="treadDesigns">
    <div class="navbar">
        <div class="navbar-inner">
       <ul class="nav">
            <a class="brand" href="#">Actions</a>
            <li><?php echo $this->Html->link(__('New Tread Design'), array('action' => 'add')); ?></li>
    		
        </ul>   
        </div>
    </div>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	
  </p>
	<div class="pagination">
        <ul>
	<?php
		echo $this->Paginator->prev('' . __('Prev'), array('tag'=>'li'), null, array('class' => 'prev'));
		echo $this->Paginator->numbers(array('separator' => '', 'tag'=>'li','currentClass'=>'currentPage'));
		echo $this->Paginator->next(__('Next') . '', array('tag'=>'li'), null, array('class' => 'next'));
	?>
        </ul>
        
       
	</div>
	<table cellpadding="0" cellspacing="0" class="table table-striped">
    <thead>
	<tr>
			<th><?php echo $this->Paginator->sort('image','Image'); ?></th>
			<th><?php echo $this->Paginator->sort('name','Design Name'); ?></th>
			<th><?php echo $this->Paginator->sort('abb','Abbreviation'); ?></th>
			<th><?php echo $this->Paginator->sort('cure_type','Cure Type'); ?></th>
			<th><?php echo $this->Paginator->sort('status','Status'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
    </thead>
    <tbody>
	<?php
	foreach ($treadDesigns as $treadDesign): ?>
	<tr>
		
		<td><img src="<?= SITEURL.$treadDesign['TreadDesign']['image']?>" width="50" height="50" /></td>
    <td><?php echo h($treadDesign['TreadDesign']['name']); ?>&nbsp;</td>
		<td><?php echo h($treadDesign['TreadDesign']['tread_abb']); ?>&nbsp;</td>
		<td><?php echo h($treadDesign['TreadDesign']['cure_type']); ?>&nbsp;</td>
		<td><?php if($treadDesign['TreadDesign']['status']==1) { echo 'Active'; }else{ echo 'Inactive' ;} ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__(' '), array('action' => 'view', $treadDesign['TreadDesign']['id']), array('class'=>'icon-search', 'title'=>'View')); ?>
			<?php echo $this->Html->link(__(' '), array('action' => 'edit', $treadDesign['TreadDesign']['id']), array('class' => 'icon-edit', 'title'=>'Edit')); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $treadDesign['TreadDesign']['id']), null, __('Are you sure you want to delete # %s?', $treadDesign['TreadDesign']['id'])); ?>
		</td>
	</tr>
	
<?php endforeach; ?>
    </tbody>
	</table>
	
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="pagination">
        <ul>
	<?php
		echo $this->Paginator->prev('' . __('Prev'), array('tag'=>'li'), null, array('class' => 'prev'));
		echo $this->Paginator->numbers(array('separator' => '', 'tag'=>'li','currentClass'=>'currentPage'));
		echo $this->Paginator->next(__('Next') . '', array('tag'=>'li'), null, array('class' => 'next'));
	?>
        </ul>
	</div>
</div>
<script>
    $('.icon-search').tooltip();
    $('.icon-edit').tooltip();
    $('.icon-remove').tooltip();
    if($('.currentPage')){
        $('.currentPage').html('<a class="currentPage">'+$('.currentPage').html()+'</a>')
    }
    if($('.prev').prop('tagName').toLowerCase() == 'span'){
        $('.prev').replaceWith('<li><a style="color:#ccc">prev</a></li>')
    }
    if($('.next').prop('tagName').toLowerCase() == 'span'){
        $('.next').replaceWith('<li><a style="color:#ccc">next</a></li>')
    }
</script>